{% extends 'base.html' %}

{% block content %}

<h3>Write a note</h3>

<form action="/community/create_review/" method="get">


    <div class="form-group mt-4">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" placeholder="What's on your mind?" required blank=False>
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea type="text" class="form-control" name="content" rows="3" placeholder="Jot something down" required blank=False></textarea>
  </div>
  <label for="customRange2">Priority</label>
    <input type="range" class="custom-range" min="0" max="5" name="rank" required blank=False>
    <div class="d-flex justify-content-between" style='font-size:15px;'>
      <span>0</span>
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>5</span>
    </div>
    <br>
    <br>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/community/" class="btn btn-secondary">Cancel</a>

</form>


{% endblock %}