{% extends 'base.html' %}
{% load static %}

{% block css %}


{% endblock %}



{% block content %}
<div class="d-flex justify-content-between">
  <h3 class="mt-3 mb-4 pl-2">Notes</h3>
  <p><a class="btn btn-outline-primary mt-4 mr-2" href="/community/new_review/" style='font-size:22px;'>Note down </a></p>
</div>
{% for review in reviews reversed%}

<a class="text-decoration-none" href="/community/review_detail/{{ review.pk }}/" data-toggle="tooltip" data-placement="top" title="See Details">
<div class="card hover text-white my-2 w-100"  onmouseover="this.style.backgroundColor='#868e96'" onmouseout="this.style.backgroundColor='#343A40'">
  <div class="card-header d-flex justify-content-between"><span><h5 class="d-inline">{{review.title}}</h5><span class="badge badge-warning mx-2">Priority {{review.rank}}</span></span> <p class="mb-0 pt-1">{{review.created_at|date:'Y-m-d H:i'}}</p></div>
  <div class="card-body">
    <p class="card-title">{{review.content}}</p>
  </div>
</div>
<a/>
{% empty %}
<h4 class="mt-4 text-center">No posts yet!</h4>
<p class="text-center ">Jot down any musings or thoughts.</p>

{% endfor %}

{% endblock %}